.momentarycontainer {
    position: fixed;
    border: 1px solid;
}

.momentarycontainer-desktop {
    left: 210px;
    top: calc(95vh - 75px);
    width: calc(100vw - 220px);
}

.momentarycontainer-mobile {
    left: 10px;
    top: calc(100vh - 125px);
    width: calc(100vw - 20px);
}

.momentarylabel {
    text-align: center;
}

.slider-cell {
    width: 100%;
}

.slider {
    width: 100%;
}

.momentary-arrow {
    padding-left: 16px;
    padding-right: 16px;
    background-color: #80808080;
    font-size: 25px;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}