<div>
  <ngx-charts-pie-chart id="monthlyprod" (window:resize)="onResize()"
    [view]="view"
    [scheme]="colorScheme"
    [results]="single"
    [gradient]="gradient"
    [legend]="legend"
    [legendPosition]="legendPosition"
    [legendTitle]="'Hónapok'"
    [labels]="showLabels"
    [doughnut]="isDoughnut"
    [labelFormatting]="labelFormatting"
    [animations]="animations"
    >
    <ng-template #tooltipTemplate let-model="model">
      <xhtml:div class="tooltip-label">
        {{getToolTipMonth(model)}}
      </xhtml:div>
      <xhtml:div class="tooltip-val">
        {{ model.value.toLocaleString('hu-HU') }} kWh
      </xhtml:div>
      <xhtml:div class="tooltip-val">
        {{ model.extra['Arány'].toLocaleString('hu-HU') }}%
      </xhtml:div>
    </ng-template>
  </ngx-charts-pie-chart>
</div>