<table>
    <tr>
        <th class="column1 no-border"></th>
        <th class="column2">Érték</th>
        <th class="column3">Időpont</th>
    </tr>
    <tr>
        <td>Összes megtermelt energia</td>
        <td>??.?? kWh</td>
        <td>????-??-?? - ????-??-??</td>
    </tr>
    <tr>
        <td>Összes elfogyasztott energia</td>
        <td>?</td>
        <td>?</td>
    </tr>
    <tr>
        <td>Átlagos napi termelés</td>
        <td>?</td>
        <td>?</td>
    </tr>
    <tr>
        <td>Átlagos napi fogyasztás</td>
        <td>?</td>
        <td>?</td>
    </tr>
    <tr>
        <td>Legerősebb hónap</td>
        <td>?</td>
        <td>?</td>
    </tr>
    <tr>
        <td>Leggyengébb hónap</td>
        <td>?</td>
        <td>?</td>
    </tr>
    <tr>
        <td>Legerősebb hét</td>
        <td>?</td>
        <td>?</td>
    </tr>
    <tr>
        <td>Leggyengébb hét</td>
        <td>?</td>
        <td>?</td>
    </tr>
    <tr>
        <td>Legerősebb nap</td>
        <td>?</td>
        <td>?</td>
    </tr>
    <tr>
        <td>Leggyengébb nap</td>
        <td>?</td>
        <td>?</td>
    </tr>
    <tr>
        <td>Legmagasabb teljesítmény</td>
        <td>?</td>
        <td>?</td>
    </tr>
</table>
