<div class="container">
  <div *ngIf="hasSideNav" class="sidenav">
    <table>
      <tr>
        <td><p class="title">Napelem</p></td>
        <td *ngIf="isMobile()" style="width: 100%;"></td>
        <td *ngIf="isMobile()"><button class="close-button" (click)="disableSideNav()">&#10006;</button></td>
      </tr>
    </table>
    <table>
      <tr>
        <td>
          <a class="menuitem" routerLink="/weekly-avg" routerLinkActive="active-link" (click)="restoreSideNav()">
            <span>Heti átlagtermelés</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          <a class="menuitem" routerLink="/msmdata" routerLinkActive="active-link" (click)="restoreSideNav()">
            <span>Mérési adatok</span>
          </a>
        </td>
      </tr>
    </table>
  </div>
  <div class="mainview" (window:resize)="onResize()">
    <div class="header">{{pageTitle}}<button class="menu-button" *ngIf="!hasSideNav" (click)="enableSideNav()">&#9776;</button></div>
    <div class="content">
      <router-outlet (activate)='onActivate($event)'></router-outlet>
    </div>
  </div>
</div>
