<div>
    <app-charts-bar-chart id="accumulator" (window:resize)="onResize()"
      [view]="view"
      [scheme]="colorScheme"
      [results]="multi"
      [animations]="animations"
      [gradient]="gradient"
      [xAxis]="xAxis"
      [yAxis]="yAxis"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [showGridLines]="showGridLines"
      [noBarWhenZero]="noBarWhenZero"
      [yAxisTickFormatting]="valueFormat"
      [timeline]="false"
      [barPadding]="2"
      >
      <ng-template #tooltipTemplate let-model="model">
        <span class="tooltip-label">{{ model.series }} &bull; {{ model.name }} </span>
        <span class="tooltip-val">{{ model.value.toLocaleString("hu-HU") }}%</span>
      </ng-template>
    </app-charts-bar-chart>
  </div>