.monthly-avg-details {
    position: fixed;
    background-color: white;
    border: 1px solid black;
}

.monthly-avg-details-desktop {
    width: calc(70vw - 200px);
    height:58vh;
    top: 50%;
    left: 50%;
    margin-top: -29vh;
    margin-left: calc(-35vw + 200px);
}

.monthly-avg-details-mobile {
    width: 62vw;
    height: 58vh;
    top: 50%;
    left: 50%;
    margin-top: -29vh;
    margin-left: -31vw;
}

.details-header {
    width: 100%;
    height: 20px;
    color: white;
    background-color: black;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.details-caption {
    width: 100%;
}

.details-spacer {
    opacity: 0;
}

.details-button {
    cursor: pointer;
}
