<div class="monthly-avg-details" [ngClass]="getMonthlyAvgDetailsClass()">
    <table class="details-header">
        <tr>
          <td class="details-spacer">&nbsp;&#10006;&nbsp;</td>
          <td class="details-caption">Havi átlag</td>
          <td class="details-button" (click)="closeDetails()">&nbsp;&#10006;&nbsp;</td>
        </tr>
    </table>
    <div>  
        <app-charts-area-chart-stacked id="stackedchart" (window:resize)="onResize()"
            [view]="view"
            [animations]="animations"
            [scheme]="colorScheme"
            [legend]="legend"
            [legendPosition]="legendPosition"
            [showXAxisLabel]="false"
            [showYAxisLabel]="false"
            [xAxis]="xAxis"
            [yAxis]="yAxis"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [timeline]="false"
            [results]="multi"
            [yAxisTickFormatting]="valueFormat"
            [legendTitle]="'Oldalak'"
            [referenceLines]="referenceLines"
            [showRefLines]="showRefLines"
            [showRefLabels]="showRefLabels"
            >
    
            <ng-template #tooltipTemplate let-model="model">
                <span class="tooltip-label">{{ model.series }} &bull; {{ getLocaleDate(model.name) }} </span>
                <span class="tooltip-val">{{ model.value.toLocaleString("hu-HU") }} kWh</span>
            </ng-template>
    
            <ng-template #seriesTooltipTemplate let-model="model">
                <xhtml:div class="area-tooltip-container">
                    {{ getToolTipDate(model) }}
                <xhtml:div *ngFor="let tooltipItem of model" class="tooltip-item">
                  <xhtml:span class="tooltip-item-color" [style.background-color]="tooltipItem.color"></xhtml:span>
                    {{ getToolTipText(tooltipItem) }}
                  </xhtml:div>
                </xhtml:div>
                <xhtml:div class="tooltip-item">
                    <xhtml:span class="tooltip-item-color" [style.background-color]="'red'"></xhtml:span>
                    {{ getToolTipSum(model) }}
                </xhtml:div>
            </ng-template>
    
        </app-charts-area-chart-stacked>
    </div>
</div>
